doctype html
html
  head
    title= AdminPage
    link(rel='stylesheet', href='/stylesheets/style.css')
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css', rel='stylesheet')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    script(src='//code.jquery.com/jquery-1.11.1.min.js')
    // ---- Include the above in your HEAD tag --------
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='http://getbootstrap.com/dist/js/bootstrap.min.js')
  body
  #header
    .section
      span#ribbon
      span#button
      div
        #logo
          a(href='adminManagement/adminBuyerPage')
            img(src='images/logo.gif', alt='')
        #navigation
          ul.primary
          ul.secondary
            li
              a(href='/adminManagement/adminBuyerPage') User
            li
              a(href='/adminManagement/adminProductPage') Product
            li
              a(href='/admin/api/logout') Log out
  .container
    .row
      .col-md-12
        h4 List Buyer
        .table-responsive
          table#mytable.table.table-bordred.table-striped
            thead
              tr
                th
                  input#checkall(type='checkbox')
                th ID
                th Username
                th Password
                th Full name
                th Email
                th Address
                th Phone
                th Role
                th Status
                th Block
                th Unblock
            tbody
              each buyer in listbuyer
                tr
                  th
                    input.checkthis(type='checkbox')
                  th #{buyer.id}
                  th #{buyer.username}
                  th #{buyer.password}
                  th #{buyer.fullname}
                  th #{buyer.email}
                  th #{buyer.address}
                  th #{buyer.phonenumber}
                  th #{buyer.role}
                  th #{buyer.status}
                  th
                    p(title='Delete', data-toggle='tooltip', data-placement='top')
                      form(method="get", action="/adminManagement/blockBuyer/#{buyer.id}")
                        button.btn.btn-danger.btn-xs(type = "submit")
                          span.glyphicon.glyphicon-remove
                  th
                    p(title='Delete', data-toggle='tooltip', data-placement='top')
                      form(method="get", action="/adminManagement/unblockBuyer/#{buyer.id}")
                        button.btn.btn-success.btn-xs(type = "submit")
                          span.glyphicon.glyphicon-ok
          .clearfix
          ul.pagination.pull-right
            li.active
              a(href='/adminManagement/adminBuyerPage') Buyer
            li
              a(href='/adminManagement/adminSellerPage') Seller
  #footer
    p
      | Copyright ©
      a(href='#') Domain Name
      |  - All Rights Reserved | Template By
      a(target='_blank', href='http://www.freewebsitetemplates.com/') FreeWebsiteTemplates.com
  div(align='center')
    | Go to out website and get unlimited books &nbsp
    a(href='/admin/login') Go now?
