doctype html
html
	head
		title RESULTS
		meta(name='viewport', content='width=device-width, initial-scale=1', charset='utf-8')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
		link(rel='stylesheet', href='/stylesheets/product.css')
		script(src='/javascripts/product.js')
	body
		.text-right
			form(method='get', action='/cart')
				button.btn.btn-primary(type='submit')
					span.glyphicon.glyphicon-shopping-cart 
					span &nbsp Giỏ hàng
						span#textCartQuantity.badge 0
		.container
			.input-group
				input#search.form-control(type='text', placeholder='Tìm kiếm sản phẩm', name='byname', value='')
				.input-group-btn
					button#btnSearch.btn.btn-default(type='button', onclick='searchProducts("' + '")')
						i.glyphicon.glyphicon-search
						span Tìm kiếm
			h1(style='text-align:left') 
				.label.label-default DANH SÁCH SẢN PHẨM
			form(action='/products/show', method='get')
				.container.wrap-product
					.row
						- for (var i = 0; i < products_list.length; i++)
								.col-md-3
									.item-container
										.img-container
											img.img-item(src="#{products_list[i].image_url}" )
										.item-title
											p.textItemName #{products_list[i].name}
										.item-price
											p.textItemPrice #{products_list[i].price} VNĐ
										button.btn.btn-primary(type='button' value='#{products_list[i].product_id}' onClick='addItem(#{products_list[i].product_id})')
											span.glyphicon.glyphicon-shopping-cart 
											span &nbsp Mua hàng
										
								- if (i%4 == 3)
									.row
				
				
		script(src='https://code.jquery.com/jquery-3.3.1.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js')
		script(src='https://unpkg.com/axios/dist/axios.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script.
			var products_list = !{JSON.stringify(products_list)};
			function searchProducts(){
				var table = document.getElementById("tbProductsList");
				var count = $('#tbProductsList tr').length;
				var name_of_product = document.getElementById('search').value;
				var results = [];
				for (var i=1; i<count; i++)
				{
					var name = table.rows[i].cells[2].innerHTML;
					if (name.toLocaleLowerCase().includes(name_of_product.toLocaleLowerCase()))
					{
						var product = {
							product_id: table.rows[i].cells[0].innerHTML,
							seller_id: table.rows[i].cells[1].innerHTML,
							name: table.rows[i].cells[2].innerHTML,
							price: table.rows[i].cells[3].innerHTML,
							description: table.rows[i].cells[4].innerHTML,
							image_url: table.rows[i].cells[5].innerHTML,
							status: table.rows[i].cells[6].innerHTML,
							type: table.rows[i].cells[7].innerHTML
						};
						results.push(product);
					}
				}
				console.log("So phan tu trong mang ket qua:" + results.length);

				var table_results = document.getElementById('results_of_searching');
				for (var i=0; i<results.length; i++){
					var obj = results[i];
					var newRow = table_results.insertRow(i + 1);
					var cell0 = newRow.insertCell(0);
					var cell1 = newRow.insertCell(1);
					var cell2 = newRow.insertCell(2);
					var cell3 = newRow.insertCell(3);
					var cell4 = newRow.insertCell(4);
					var cell5 = newRow.insertCell(5);
					var cell6 = newRow.insertCell(6);
					var cell7 = newRow.insertCell(7);
					cell0.innerHTML = obj.product_id;
					cell1.innerHTML = obj.seller_id;
					cell2.innerHTML = obj.name;
					cell3.innerHTML = obj.price;
					cell4.innerHTML = obj.description;
					cell5.innerHTML = obj.image_url;
					cell6.innerHTML = obj.status;
					cell7.innerHTML = obj.type;
				}
				console.log(table_results);
			}
			var cart = [];
			function checkIfProductExist(idProduct) {
				if (cart.length != null) {
					for (var i = 0; i < cart.length; i++) {
						if (cart[i].product_id == idProduct) {
							alert('Sản phẩm này đã có trong giỏ hàng!');
							return true;
						}
					}
				}
				return false;
			}
			function addItem(idProduct) {
				var tempCart = JSON.parse(localStorage.getItem('cart'));
				if (tempCart != null) {
					cart = JSON.parse(localStorage.getItem('cart'));
				}
				for (var i = 0; i < products_list.length; i++) {
					if (products_list[i].product_id == idProduct) {
						if (!checkIfProductExist(idProduct))
						{
							cart.push(products_list[i]);
						}
						console.log(cart);
					}
				}
				localStorage.setItem('cart', JSON.stringify(cart));
				showCartQuantity();
			}
			function showCartQuantity() {
				var tempCart = JSON.parse(localStorage.getItem('cart'));
				$('#textCartQuantity').html(tempCart.length);
			}
			window.onload = function(e) {
				showCartQuantity();
			}