doctype html
html
  head
    title=adminProductPage
    link(rel='stylesheet', href='/stylesheets/style.css')
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.1.0/css/all.css', integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt', crossorigin='anonymous')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  body
    #header
      .section
        span#ribbon
        span#button
        div
          #logo
            a(href='adminManagement/adminBuyerPage')
              img(src='images/logo.gif', alt='')
          #navigation
            ul.primary
            ul.secondary
              li
                a(href='/seller/postProducts') Thêm Sách
              li
                a(href='/users/login') Log out
    #content
      div
        span.background
        .section
          h3
            span Books
          div
            ul.accessories
                li
                  a.thumbnail(href='#{book.image_url}')
                    img.APP(src='#{book.image_url}', alt='')
                  .dbtn
                    form(method="post", action="/seller/api/editProducts/#{book.id}")
                      Book Name:
                        input(style="text", name = "name", value="#{book.name}")
                      Book Price:
                        input(style="text", name = "price", value="#{book.price}")
                      Book Description:
                        input(style="text", name = "description", value="#{book.description}")
                      Book Type:
                        input(style="text", name = "type", value="#{book.type}")
                      Book Quantiy:
                        input(style="text", name = "number", value="#{book.number}")
                      Book Author:
                        input(style="text", name = "author", value="#{book.author}")
                      Book Release Day:
                        input(style="text", name = "release_date", value="#{book.release_date}")
                      Link Demo:
                        input(style="text", name = "linkdemo", value="#{book.linkdemo}")
                      button(type="submit") update
            #paging
              a.prev(href='#') Prev
              a.next.current(href='#') Next
    #footer
      p
        | Copyright ©
        a(href='#') Domain Name
        |  - All Rights Reserved | Template By
        a(target='_blank', href='http://www.freewebsitetemplates.com/') FreeWebsiteTemplates.com
    div(align='center')
      | This template  downloaded form
      a(href='http://all-free-download.com/free-website-templates/') free website templates
